<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->  
    <property name="LOG_HOME" value="d:/log" />  
    <!-- 控制台输出 -->   
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder> 
       	<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符--> 
		<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>   
		</encoder>   
	</appender>
    
	<!-- 按照每天生成日志文件 -->
	<appender name="file"  class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
			<fileNamePattern>${LOG_HOME}/myApp.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>   
		</encoder> 
	</appender>
    
    <logger name="org.springframework.boot" level="DEBUG"/>
    
	<!-- 日志logger(包.类)的输出级别 -->
	<logger name="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver" level="DEBUG" >
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</logger>
	
	<!-- 为 Hibernate sql 定制 -->  
    <!-- <logger name="org.hibernate.type.descriptor.sql.BasicBinder"  level="TRACE" />
    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor"  level="DEBUG" />
    <logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.hibernate.engine.QueryParameters" level="DEBUG" />
    <logger name="org.hibernate.engine.query.HQLQueryPlan" level="DEBUG" />  -->
	
    <!-- 日志输出级别 -->
    <root level="INFO">   
        <appender-ref ref="console" />   
        <appender-ref ref="file" />   
    </root> 
     
</configuration>



    
